<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VideosAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<br>
  <img src="https://avatars.githubusercontent.com/u/90574582?v=4">
  <h1 >Mauricio da Silva Lobato</h1>
  <p>Estudante FAACG</p>
  <a>mauriciodasilvalobato@faacgedu.org.br</a>


</ion-content>
